@using HiHoHuBlog.Modules.Search.Entity
@inject NavigationManager NavigationManager
@if (Blog is null)
{
    <div></div>
}
else
{
    <a class="hover:cursor-pointer"  @onclick='() => NavigationManager.NavigateTo($"/blog/{Blog?.Id}")'>
    <div class="card ">
        <figure class="h-48 overflow-hidden">
            <img src="@Blog?.Thumbnail?.Url" alt="Strangler Fig Pattern" class="w-full h-full object-cover" />
        </figure>
        <div class="card-body p-0">
            <div class="flex gap-2 mt-5 items-center">
                <div class="avatar">
                    <div class="h-6 rounded-full">
                        <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                    </div>
                </div>
                <span>@Blog?.User?.UserName</span>
            </div>
            <h2 class="card-title line-clamp-2">@Blog?.Title</h2>
            <p class="line-clamp-2 text-gray-600">@Blog?.ShortContent</p>

            <div class="flex items-center mt-7 text-gray-600">
                <span>@( Blog?.PublishedAt is not null? Blog?.PublishedAt.Value.ToString("MMMM yyyy") : "-")</span>
                <span class="mx-2"></span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#737373" class="size-6">
                    <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                </svg>
                <span class="ml-1">@Blog?.TotalLike</span>
                <span class="mx-2"></span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#737373" class="size-6">
                    <path fill-rule="evenodd" d="M5.337 21.718a6.707 6.707 0 0 1-.533-.074.75.75 0 0 1-.44-1.223 3.73 3.73 0 0 0 .814-1.686c.023-.115-.022-.317-.254-.543C3.274 16.587 2.25 14.41 2.25 12c0-5.03 4.428-9 9.75-9s9.75 3.97 9.75 9c0 5.03-4.428 9-9.75 9-.833 0-1.643-.097-2.417-.279a6.721 6.721 0 0 1-4.246.997Z" clip-rule="evenodd" />
                </svg>
                <span class="ml-1">@Blog?.TotalLike</span>
                <div class="flex-grow ">
                    <button class="btn btn-circle btn-ghost">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                        </svg>
                    </button>
                    <button class="btn btn-circle btn-ghost">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</a>
}



@code
{
    [Parameter] public BlogSearchDoc? Blog { get; set; }
}
