<a class="" href="">
    <div class="w-full  ">
        <AuthorTag/>
        <div class="flex py-2 justify-between">
            <h2 class="text-lg font-medium  text-black card-title line-clamp-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus fugiat ipsum iure nemo quidem quisquam ratione sunt suscipit tempore totam ullam, voluptatum! Ab consectetur eveniet expedita ipsam mollitia quod quos.</h2>
        </div>
    </div>
</a>
@code {
    
}