@using HiHoHuBlog.Components.Layout.Components
@inherits LayoutComponentBase


<div class="h-screen relative flex flex-col">
    <NavMenu></NavMenu>
    <div class="flex flex-grow overflow-y-auto">
        <AdminSideBar></AdminSideBar>
        <div class="w-full">
            @Body
            <BlazoredToasts />
        </div>
    </div>
</div>

@code {
    
}