@using HiHoHuBlog.Components.Layout.Components
@inherits LayoutComponentBase


<div class="min-h-screen  bg-white relative">
    <header class="sticky top-0 left-0 right-0 bg-white z-10">
        <NavMenu/>
    </header>
    <main class="h-full">
        @Body
    </main>
    <footer>
    </footer>
</div>