@using HiHoHuBlog.Components.Components
@inherits LayoutComponentBase
@inject NavigationManager Navigation

@if (HttpContext is null)
{
    //<p>Loading...</p>
    //<FullScreenSpinner IsLoading="true"></FullScreenSpinner>
}
else
{
    @Body
}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override void OnParametersSet()
    {
        if (HttpContext is null)
        {
            Navigation.Refresh(forceReload: true);
        }
    }
}