@page "/profile/{Username}"
@using HiHoHuBlog.Components.Layout
@using HiHoHuBlog.Components.Components
@using HiHoHuBlog.Modules.Blog.Presentation.Components
@using HiHoHuBlog.Modules.User.Entity
@using HiHoHuBlog.Modules.User.Service.Implementation
@using HiHoHuBlog.Modules.User.Service.Interface
@layout MainLayout
@inject IUserProfileService UserProfileService
<Container ContainerClass="flex justify-between space-x-10 max-w-7xl">
    <div class="max-w-4xl py-10 w-full">
        <div class="flex flex-col justify-between space-y-10 px-8 mt-3 mb-4">
            <div class="flex justify-between">
                <span class="font-medium font-sans text-5xl">@Name</span>
                <button class="btn bg-white border-0">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                    </svg>
                </button>
            </div>
            @*<div role="tablist" class="tabs tabs-bordered max-w-9">
                <a role="tab" class="tab tab-active">Home</a>
                <a role="tab" class="tab ">About</a>
            </div>*@
        </div>
        <div class="flex flex-col justify-between space-y-10 px-8 mt-3 mb-4">
            <div role="tablist" class="tabs tabs-bordered">
                <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Home" checked="checked" />
                <div class="grow max-w-4xl tab-content" role="tabpanel">
                    <BlogCard/>
                    <BlogCard/>
                    <BlogCard/>
                    <BlogCard/>
                    <BlogCard/>
                </div>
                <input
                    type="radio"
                    name="my_tabs_1"
                    role="tab"
                    class="tab"
                    aria-label="About"
                />
                <div role="tabpanel" class="tab-content p-10 w-full h-lvh">
                    <span class="font-medium font-sans text-sm"> Member since November 2024</span>
                </div>
            </div>
        </div>
            
        <div class="grow max-w-4xl tab-content" role="tabpanel">
            <BlogCard/>
            <BlogCard/>
            <BlogCard/>
            <BlogCard/>
            <BlogCard/>
        </div>
    </div>
    <div class="border-l-[1px] grow p-10 max-w-sm">
        <div class="flex flex-col sticky top-20">
            <div class="avatar">
                <div class="w-24 rounded-full">
                    <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
                         alt="Tailwind CSS Navbar component"
                    />
                </div>
            </div>
            <div class="mt-4">
                <span class="font-medium font-sans text-base">@Name</span>
            </div>
            <div class="mt-2">
                <span class="font-medium font-sans text-base text-gray-500"> @UserProfile?.TotalFollower Followers</span>
            </div>
            <div class="mt-2">
                <span class="font-medium font-sans text-sm text-gray-500">I'm Tiset, a CS/Physics student at Brown 
                    University. I write about science and technology here and on my blog harysdalvi.com</span>
            </div>
            <div class="mt-6 mb-10 flex justify-start space-x-2">
                <button class="btn text-white bg-emerald-600 hover:bg-emerald-700/90 rounded-full">Follow</button>
                <button class="btn btn-circle text-white bg-emerald-600 hover:bg-emerald-700/90">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" 
                              d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"/>
                    </svg>
                </button>
            </div>
            <div>
                <span class="font-medium font-sans text-base ">Following</span>
                <ul class="mt-5">
                    <li class="flex justify-between items-center">
                        <a class="cursor-pointer link-hover" href="">
                        <div class="flex justify-between space-x-2">
                            <div class="avatar pr-3">
                                <div class="w-5 rounded-full">
                                    <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
                                         alt="Tailwind CSS Navbar component"/>
                                </div>
                            </div>
                            <span class="font-medium font-sans text-sm ">Sylvain Tiset</span>
                        </div>
                        </a>
                        
                        <button class="btn bg-white btn-sm border-0 px-0">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"/>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
    
</Container>
@code {
    [Parameter]
    public string Username { get; set; }
    public string Name { get; set; }
    public UserProfile UserProfile { get; set; }

    protected override async Task OnInitializedAsync()
    {        
        Console.WriteLine("hellllllo1");
        var userEmail = Username + "@gmail.com";
        var r = await UserProfileService.GetUserProfile(userEmail);
        if (!r.IsOk || r.Value is null)
        {
            Console.WriteLine(r.Error.Message);
            return;
        }

        UserProfile = r.Value;
        Name = UserProfile.FirstName +" "+  UserProfile.LastName;
    }

}