@page "/reset-password"
@using HiHoHuBlog.Components.Layout
@using HiHoHuBlog.Components.Components
@using HiHoHuBlog.Modules.User.Service.Interface
@layout NonLayout
@inject IResetPasswordService ResetPasswordService
@inject NavigationManager NavigationManager 

<div class="h-screen flex">
    <FullScreenSpinner IsLoading="_isLoading"/>
    <div class=" m-auto w-96 orm-control items-center  flex flex-col gap-2">
        <p class="font-bold text-2xl mb-10">Reset password</p>
        <InputText @bind-Value="@_newPassword" type="password" class=" input input-bordered w-full" placeholder="New password"/>
        <InputText @bind-Value="@_confirmPassword" type="password" class=" input input-bordered w-full" placeholder="Confirm password"/>

        <input type="button" class="btn btn-primary w-full" value="Submit" @onclick="OnSubmit"/>
        <a class="link" href="/login">Back to login</a>
    </div>
</div>
@code {
    [SupplyParameterFromQuery(Name = "token")] string? Token { get; set; }
    private bool _isLoading = false;
    private string _newPassword = "";
    private string _confirmPassword = "";
    protected override void OnInitialized()
    {
        if (Token is null) // TODO: or token is invalid => Navigate to notfound
        {
            NavigationManager.NavigateTo("/notfound");
        }
    }

    private async Task OnSubmit()
    {
        await ResetPasswordService.ResetPassword(Token, _newPassword, _confirmPassword);
    }
}