@page "/signup"
@using HiHoHuBlog.Components.Layout
@using HiHoHuBlog.Modules.User.Entity
@using HiHoHuBlog.Modules.User.Service.Interface
@inject NavigationManager NavigationManager
@inject IUserSignUpService UserSignUpService 
@inject IToastService ToastService
@layout NonLayout

<div class="h-screen flex">
    <EditForm FormName="SignupForm" Model="User" OnSubmit="@Submit" class="w-96 m-auto form-control ">
        <label class="form-control w-full ">
            <div class="label">
                <span class="label-text">First name</span>
            </div>
            @if (User != null)
            {
                <InputText tabindex="1" @bind-Value="User.FirstName" type="text" placeholder="John" class="input input-bordered w-full"/>
                @:</label>
                <label class="form-control w-full ">
                    <div class="label">
                        <span class="label-text">Last name</span>
                    </div>
                    <InputText tabindex="2" @bind-Value="User.LastName" type="text" placeholder="Cena" class="input input-bordered w-full "/>
                </label>
                <label class="form-control w-full ">
                    <div class="label">
                        <span class="label-text">Email</span>
                    </div>
                    <InputText tabindex="3"  @bind-Value="User.Email" type="email" placeholder="john.cena@email.com" class="input input-bordered w-full"/>
                </label>
                <label class="form-control w-full ">
                    <div class="label">
                        <span class="label-text">Password</span>
                    </div>
                    <InputText tabindex="5"  @bind-Value="User.Password" type="password" placeholder="Type here" class="input input-bordered w-full"/>
                </label>
                @:<label class="form-control w-full ">
                <div class="label">
                    <span class="label-text">Confirm password</span>
                </div>
                <InputText tabindex="6"  @bind-Value="User.ConfirmPassword" type="password" placeholder="Type here" class="input input-bordered w-full"/>
            }
        </label>
        <input type="submit" class="btn mt-10" value="Sign Up"/>
        <a href="/login" class="link text-center">Already have an account?</a>
    </EditForm>
</div>

@code {
    [SupplyParameterFromForm(FormName = "SignupForm")]
    private UserSignUp? User { get; set; } = new UserSignUp();

    private async Task Submit(EditContext obj)
    {
        Console.WriteLine(User);

        if (User != null)
        {
            var r = await UserSignUpService.SignUp(User);
            if (!r.IsOk)
            {
                ToastService.ShowError(r.Error.Message);
                return;
            }
            NavigationManager.NavigateTo("/login");
        }
    }

}