@rendermode InteractiveServer
@inject NavigationManager NavigationManager
<div class="navbar h-10 border-b-[1px] sticky bg-white z-50 top-0">
    <div class="flex-1">
        <a @onclick='() => { NavigationManager.NavigateTo("/"); }' class="btn  btn-ghost text-xl">Hihohu</a>
    </div>
    <div class="flex-none gap-2">
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img
                        alt="Tailwind CSS Navbar component"
                        src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"/>
                </div>
            </div>
            <ul
                tabindex="0"
                class="menu menu-sm dropdown-content bg-white rounded-box z-[1] mt-3 w-52 p-2 shadow">
                <li>
                    <a href="/profile" class="justify-between">
                        Profile
                        <span class="">New</span>
                    </a>
                </li>
                <li>
                    <a>Settings</a>
                </li>
                <li>
                    <a href="/login">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {
private async  Task OnWrite()
{
Console.Write("Ok");
NavigationManager.NavigateTo("/new-blog");
}

}
