@page "/blog/{Slug}"
@using HiHoHuBlog.Components.Components
@using HiHoHuBlog.Modules.Blog.Entity
@using HiHoHuBlog.Modules.Blog.Presentation.Components
@using HiHoHuBlog.Modules.Blog.Presentation.Components.TextEditor
@using HiHoHuBlog.Modules.Blog.Service.Interface
@using HiHoHuBlog.Modules.Search.Entity
@using HiHoHuBlog.Modules.Search.Service.Interface
@using HiHoHuBlog.Utils
@rendermode InteractiveServer
@inject IBlogGetService BlogGetService
@inject NavigationManager NavigationManager
@inject ISearchBlogService SearchBlogService

<Container>
    <FullScreenSpinner IsLoading="_isLoading"></FullScreenSpinner>
    <div class="container mx-auto px-4 py-8">
        <!-- Header Section -->
        <div class="mb-8">
            <h1 class="text-4xl font-bold mb-4">@_blog?.Title</h1>

            <div class="flex items-center gap-4 mb-4">
                <div class="avatar">
                    <div class="h-11 rounded-full">
                        <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"/>
                    </div>
                </div>
                <div>
                    <div class="flex items-center gap-2">
                        <span class="font-medium">Sylvain Tiset</span>
                        <button class="btn btn-sm btn-outline btn-primary">Follow</button>
                    </div>
                    <div class="text-sm text-gray-600">
                        <span>13 min read</span>
                        <span class="mx-2">·</span>
                        <span>Sep 18, 2024</span>
                    </div>
                </div>
            </div>
            <div class="divider m-0"></div>
            <div class="flex items-center gap-4">
                <div class="flex items-center gap-2">
                    <button class="btn btn-circle btn-ghost">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
                        </svg>
                    </button>
                    <span>688</span>
                </div>
                <div class="flex items-center gap-2">
                    <button class="btn btn-circle btn-ghost">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"/>
                        </svg>
                    </button>
                    <span>10</span>
                </div>
                <div class="flex-grow"></div>
                <button class="btn btn-circle btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"/>
                    </svg>
                </button>
                <button class="btn btn-circle btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z"/>
                    </svg>
                </button>
            </div>
            <div class="divider m-0"></div>

        </div>

        @* Content *@
        <div>

            <TextEditor @ref="_textEditor" ReadOnly="true">
            </TextEditor>
        </div>
        <div class="divider m-0 "></div>
        <div class="container mx-auto px-4 py-8">
            <!-- Header -->
            <header class="flex items-center justify-between mb-8">
                <div class="flex items-center gap-4 mb-4">
                    <div class="avatar">
                        <div class="h-11 rounded-full">
                            <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"/>
                        </div>
                    </div>
                    <div>
                        <div class="flex items-center gap-2">
                            <span class="font-medium">Written by Sylvain Tiset</span>
                        </div>
                        <div class="text-sm text-gray-600">
                            <span>222 Followers</span>
                            <span class="mx-2">·</span>
                            <span>0 Following</span>
                        </div>
                    </div>
                </div>
                <button class="btn h-2 rounded-3xl te bg-black text-white ">Follow</button>
            </header>
            @* More From this Author Section *@
            <span class="font-bold text-2xl">More from Sylvain Tiset</span>
            <!-- Articles -->
            <div class="grid grid-cols-2 mt-8 gap-8">
                <BlogRelatedCard/>
                <BlogRelatedCard/>
                <BlogRelatedCard/>
                <BlogRelatedCard/>
            </div>
            <div class="divider mt-14 "></div>
            <button class="btn btn-wide rounded-3xl bg-base-100 border-1 border-black ">See all from Sylvain Tiset</button>
            @*Recommended from Medium Section*@
            <div class="divider mt-24 mb-20 w-screen relative left-1/2 -translate-x-1/2 m-0"></div>


            <span class="font-bold text-2xl">Recommended from Medium</span>
            <!-- Articles -->
            <div class="grid grid-cols-2 mt-8 gap-8">
                @foreach (var blog in _relatedBlog)
                {
                    <BlogRelatedCard Blog="blog"/>
                }
            </div>
            <div class="divider mt-14 "></div>
            <button class="btn btn-wide rounded-3xl bg-base-100 border-1 border-black ">See more recommendations</button>

        </div>
    </div>
</Container>

@code {
    [Parameter]
    public string Slug { get; set; }
    private bool _isLoading = true;
    private IEnumerable<BlogSearchDoc>? _relatedBlog = new List<BlogSearchDoc>();
    private Paging _relatedPaging = new Paging(1, 4);
    private TextEditor _textEditor;
    
    private BlogDetail _blog { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        var request = Slug.Split('-'); 
        string idString = request[^1];
        int id;
        if (!Int32.TryParse(idString, out id))
        {
            return;
        }
        var r = await BlogGetService.GetBlog(null,id);
        if (!r.IsOk || r.Value is null)
        {
            NavigationManager.NavigateTo("notfound");
            return;
        }
        
        if (Slug != r.Value.Slug)
        {
            ChangeUrl($"blog/{r.Value.Slug}");
        }

        _blog = r.Value;
        await _textEditor.LoadHTMLContent(_blog.Content);
        
        var result = await SearchBlogService.RecommendSearchBlogByBlog(null, _blog.Id, _relatedPaging);

        if (result.IsOk)
        {
            _relatedBlog = result.Value;
        }
        
        _isLoading = false;
    }
    
    void ChangeUrl(string url){
        JSRuntime.InvokeVoidAsync("ChangeUrl", url);
    }
    
}