@page "/"
@using HiHoHuBlog.Components.Components
@using HiHoHuBlog.Modules.Blog.Presentation.Components


<Container ContainerClass="flex">
    <div class="grow">
        <BlogCard/>
        <BlogCard/>
        <BlogCard/>
        <BlogCard/>
        <BlogCard/>
    </div>
    <div>

    </div>
</Container>

@code {

}