@page "/"
@using HiHoHuBlog.Modules.Blog.Presentation.Components
@using HiHoHuBlog.Components.Components


<Container ContainerClass="flex">
    <div class="grow">
        <BlogCard/>
        <BlogCard/>
        <BlogCard/>
        <BlogCard/>
        <BlogCard/>
    </div>
    <div>
        
    </div>
</Container>
@code {
    
}