@page "/new-blog"
@using WYSIWYGTextEditor
@rendermode InteractiveServer

@using HiHoHuBlog.Components.Components
<Container ContainerClass="h-full">
        <div class="flex justify-between py-10">
            <h1>Title</h1>
            <button @onclick="OnClick" class="btn btn-primary">Save</button>
        </div>
        <div class="h-full">
            <TextEditor Toolbar="new Toolbar { ShowFullToolbar = true }" EditorContainerId="TestId" @ref="@MyEditor"
                        Placeholder="Enter non HTML format like centering...">
            </TextEditor>
        </div>
    @count
</Container>

@code {
    private string count = "";
    TextEditor MyEditor;

    private async Task OnClick()
    {
        count = await MyEditor.GetText();
    }

}